DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/sondravo"
NEXTAUTH_SECRET="replace-with-a-long-random-secret"
DISCORD_CLIENT_ID="1545007793927495750"
DISCORD_CLIENT_SECRET=""
DISCORD_GUILD_ID="1488178372298408113"
DISCORD_FOUNDER_ROLE_ID="1488178372721901807"
DISCORD_PAYING_ROLE_ID="1488178372700803233"
DISCORD_MANAGEMENT_ROLE_IDS=""
GOOGLE_SPREADSHEET_ID="1-LrKifCSiMdv4e5cToaC6nsW5F8LI0C7VueRkbhCeQs"
